html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

/*
The styles on #ratio and #canvas together are known as the padding hack
But it's not needed now that the aspect-ratio property exists.
See:
- https://timothymiller.dev/posts/2022/stop-using-the-padding-hack/
- https://caniuse.com/?search=aspect-ratio

#ratio {
  height: 0;
  width: 100%;
  padding-bottom: 62.5%;
  position: relative;
}

#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
*/

#canvas {
  /*what does this do**/
  aspect-ratio: 16 / 10;
  width: 100%;
}

#readout {
  top: 0;
  left: 0;
  z-index: 10; /*why did we need a z-index here is it because we want to display our text content on top of the controller
  what is the default z-index for all elements**/
  position: fixed;
  padding: 10px;
}

#text {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  white-space: 'pre'; /*what does this do**/
  color: black; /*color is only used for text color right**/
  background-color: white; /*why did we set background color white here instead of in the readout div**/
}
